body {
  background-color: grey;
}

#featuresList {
  text-align: center;
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: center
}

input {
  width:480px;
}

button {
  width:60px;
  background: url(../img/button.png)
}

.featureCol {
  width: 300px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 800px;
}
#centerbox {
  text-align: center;
}

