body {
  background-color: grey;
}

#featuresList {
  text-align: center;
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: center
}

.featureCol {
  width: 300px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 800px;
}
#centerbox {
  text-align: center;
}

